.group {
  padding: 20px;
}

.group h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #3f51b5;
}

.group h3 {
  font-size: 20px;
  margin-top: 20px;
  color: #3f51b5;
}

.group ul, .group mat-list {
  list-style: none;
  padding: 0;
}

.group li, .group mat-list-item {
  padding: 10px;
  background-color: #f9f9f9;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.cover {
 height: 300px;
  width: 200px;
}

.post-card {
  margin-bottom: 20px;
}

.add-post-card {
  margin-top: 20px;
}

mat-form-field {
  width: 100%;
}

mat-card {
  margin-bottom: 20px;
}

mat-card h3 {
  margin: 0 0 10px 0;
}

button[type="submit"] {
  width: 100%;
  margin-top: 10px;
}
